@page "/"

<PageTitle>Index</PageTitle>
<NavigationBar></NavigationBar>
<header class="hero">
    <div class="container">
        <h1 class="primary-title">The easy approach to marketing</h1>
        <p class="p-title">Let us leverage open source community to improve the <b>visibility</b> of our products</p>
        <div class="item" style="margin-top:70px;">
             <img class="special" src="img/icon.png" style="float: right;"/>
          @*    <span class="caption">Don't be shy, give us a try!</span*@
        </div>
      
        
  @*      <a class="form-control btn btn-primary" href="/download">Download</a>*@
       @* <a href="#" class="btn">Show me</a>*@
       @* <a class="form-control btn btn-primary" href="/download">Download</a>*@
    </div>
</header>


<MudCarousel Class="mud-width-full" Style="height:200px; margin-top:50px;margin-bottom:50px;" ShowArrows="@arrows" ShowBullets="@bullets" AutoCycle="@autocycle" TData="object">
    <MudCarouselItem Transition="transition">
       <div class="d-flex flex-column flex-column justify-center" style="height:100%">
			<MudIcon Class="mx-auto" Icon="@Icons.Filled.AccessibilityNew" Size="@Size.Large" />
			<MudText Align="@Align.Center" Class="mx-auto">Reach out to the developer community and share your products!</MudText>
		</div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition" Color="Color.Default">
         <div class="d-flex flex-column flex-column justify-center" style="height:100%">
			<MudIcon Class="mx-auto" Icon="@Icons.Filled.People" Size="@Size.Large" />
			<MudText Align="@Align.Center" Class="mx-auto">Support others as they support you.</MudText>
		</div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition" >
        <div class="d-flex flex-column flex-column justify-center" style="height:100%">
			<MudIcon Class="mx-auto" Icon="@Icons.Filled.DataExploration" Size="@Size.Large" />
			<MudText Align="@Align.Center" Class="mx-auto">And join the community to grow new ideas...</MudText>
		</div>
    </MudCarouselItem>
</MudCarousel>

       <div class=" container containerCard">
           <MudCard Class="mudcard" >
    <MudCardMedia Image="img/outlook computer.jpg" Height="200" />
    <MudCardContent>
        <MudText Typo="Typo.h5">Step 1.</MudText>
        <MudText Typo="Typo.body2" ><a href="/download"><b style="color:blue;">Download</b></a> and install Shy Marketer Outlook add-in.It is easy to install and simple to use</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary" style="margin-left:auto;margin-right:auto;" ><a href="/download"><b style="color:blue;">Download</b></a></MudButton>
    </MudCardActions>
</MudCard>
 <MudCard Class="mudcard">
    <MudCardMedia Image="img/step2.jpg" Height="200" />
    <MudCardContent>
        <MudText Typo="Typo.h5">Step 2.</MudText>
        <MudText Typo="Typo.body2" >When you are ready for market, simply use the add-in to compose an email to your target audience.
            You can easily choose the target sector that your app is designed to work in. Check out sectors below!
        </MudText>
         <MudCardActions>
       
    </MudCardActions>
    </MudCardContent>
 
</MudCard >
 <MudCard Class="mudcard">
    <MudCardMedia Image="img/Step3.jpg" Height="200" />
    <MudCardContent>
        <MudText Typo="Typo.h5">Step 3.</MudText>
        <MudText Typo="Typo.body2" >To get you gotta give...View other developer's products and then your product is shared with ShyMarketer community!</MudText>
    </MudCardContent>
    <MudCardActions>
           <MudButton Variant="Variant.Text" Color="Color.Primary" style="margin-left:auto;margin-right:auto;" ><a href="#"><b style="color:blue;">Check</b></a></MudButton>

    </MudCardActions>
</MudCard>

    </div>
    <div class="container" style=" margin-top:50px;margin-bottom:30px;">
<MudExpansionPanels MultiExpansion="true" >
    <MudExpansionPanel  Text="What's the main idea?" >
         The main idea behind this project is to enable developers and startups access to the customers and investors and to
           improve cooperation between small companies. We choose Outlook because it is widely used as business mailing agent
           and because it offers great possibilities for developers to integrate new solutions and ideas.
    </MudExpansionPanel>
    <MudExpansionPanel Text="How do I use it?">
        To use ShyMarketer, first you need to download the addin and install it in Outlook. This will only take a minute and
           then you are ready and set to start marketing. Just click the addin button, fill up the data about your company and product
           and in a matter of minutes you are already marketing your ideas!
    </MudExpansionPanel>
    <MudExpansionPanel Text="Do I have to send any emails?">
        No emails are being sent while using ShyMarketer addin. All the data about your product and company that you supplied to the addin
           is instead displayed as an article on the ShyMarketer server, and is ready to be viewed by other developers and startups
           once they are ready to share their products with the community.
    </MudExpansionPanel>
    <MudExpansionPanel Text="How many times will my ad be displayed?">
       We will be displaying ads in the chronological fashion - first one in first one out. Ofcourse, the 
           bigger the community gets the more times your ad will be displayed. Also your target sector has an impact. You can also share links to your article
           on social media websites to help marketing yourself. In the future we might come up with even better ideas on how to improve
           your product's marketing!
    </MudExpansionPanel>
</MudExpansionPanels>
    </div>
    






<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Company</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                     <li><a href="#">privacy policy</a></li>
                     <li><a href="#">other products</a></li>
                </ul>
            </div>
             <div class="footer-col">
                <h4>Get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Payment</a></li>
                </ul>
            </div>
             <div class="footer-col">
                <h4>Follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>

        </div>
    </div>
</footer>
<style>
    .containerCard {
    margin-top:50px;
     margin-bottom:30px;
    display: flex;
    gap: 20px;
    flex: 0 1;
    flex-wrap: wrap;
    max-width: 80%;
    justify-content: center;
}

.mudcard {
    box-shadow: 0 5px 202px rgba(0,0,0,0.5);
    transition: 0.6s ease-in-out;
    flex-basis: 400px;
}

    .mudcard:hover {
        transform: scale(1.05);
    }
   

</style>
@code{
    private bool arrows = false;
    private bool bullets = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;
}